.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navItems {
    display: flex;
    align-items: center;
}
.navItems > ul {
    display: flex;
    font-size: large;
    width: 100%;
    margin: 20px;
    flex-direction: row;
    cursor: pointer;
}

.navItems > ul > li {
    list-style-type: none;
    margin-right: 30px;
}

#icon {
    margin-right: 30px;
}

#logo {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#search {
    display: flex;
    justify-content: center;
    max-width: 200px; 
    width: 100%;
    height: 30px;
}

#searchBar {
    width: 100%;

}

#userIcon {
    margin-right: 20px;
}


#search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}

#logo1{
    height:150px;
    width:200px;

}

#rest-cards {
    padding: 10px;
    display: flex;
}


.card1 > h3 {
    margin-left: 5px;
}

.card1 > h5 {
    margin-left: 5px;
}

.card1 {
    width: 200px;
    cursor: pointer;
    background-color: #f3f3f3;
}

.card1:hover {
    box-shadow: rgb(84, 82, 82) 0px 0px 3px;
    border: 0.5px solid rgb(134, 128, 128);
    transform: scale(102%);
}

#rest-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border:1px solid rgb(159, 159, 159);
}

#filter {
    padding:20px;
}